* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.center {
  padding: 0 calc(50% - 570px);
}

.promo {
  height: 800px;
  background: url("../img/header_bg.jpg") center center/cover no-repeat;
  padding-top: 39px;
  padding-bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.promo__title {
  font-size: 41px;
  font-weight: 900;
  color: #f9bf3b;
  text-transform: uppercase;
  line-height: 40px;
}

.promo__title_top {
  margin-top: 53px;
}

.promo__title_big {
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  padding: 0 18px;
  line-height: 60px;
}

.promo__its-easy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.promo__line {
  width: 292px;
  height: 2px;
  background-color: #fff;
}

.promo__text {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.33;
  color: #fff;
  margin-top: 10px;
}

.promo__text_free {
  font-weight: bold;
  color: #f9bf3b;
  text-transform: uppercase;
}

.promo__button {
  margin-top: 70px;
  margin-bottom: 70px;
}

.promo__text-small {
  font-size: 15px;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.button {
  width: 313px;
  height: 72px;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
          box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
  border: solid 4px rgba(0, 0, 0, 0.23);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2798b9), to(#3ab6da));
  background-image: linear-gradient(to top, #2798b9, #3ab6da);
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.logo__img {
  display: block;
  margin: 0 auto;
}

.logo__text {
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  margin-top: 14px;
}

.waiting {
  background-color: #efefef;
  padding-top: 85px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 604px;
}

.waiting__heading, .finish__heading, .time__heading {
  font-size: 30px;
  color: #252525;
  text-transform: uppercase;
  font-weight: normal;
}

.waiting__line, .finish__line {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 17px 0;
}

.waiting__sub-heading {
  font-size: 23px;
  color: #4a4a4a;
  font-weight: normal;
}

.waiting__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.waiting__item {
  -ms-flex-preferred-size: 342px;
      flex-basis: 342px;
}

.waiting__text-item {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  color: #4a4a4a;
  margin-top: 33px;
  text-align: center;
}

.optim {
  min-height: 550px;
  padding-top: 102px;
  padding-bottom: 107px;
  background-image: url(../img/girl.png);
  background-repeat: no-repeat;
  background-position: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.optim__wrap {
  width: 750px;
}

.optim__heading, .time__date-webinar {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  color: #299cbd;
}

.optim__text {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.59;
  color: #4a4a4a;
  margin-top: 15px;
}

.optim__text_bold {
  font-weight: bold;
}

.finish {
  min-height: 447px;
  background-image: url(../img/youCan_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
  padding-bottom: 79px;
}

.finish__heading {
  color: #efefef;
}

.finish__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  margin-top: 41px;
}

.finish__steps-item {
  -ms-flex-preferred-size: 204px;
      flex-basis: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finish__steps-icon-wrap {
  background-color: #b4e2ff;
  width: 115px;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.finish__steps-descr {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.18;
  color: #efefef;
  margin-top: 26px;
}

.gift {
  min-height: 628px;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 86px 0;
}

.gift__text {
  width: 1131px;
  font-size: 30px;
  line-height: 1.43;
  color: #252525;
  text-align: center;
  margin-top: 42px;
  margin-bottom: 52px;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 82px;
  padding-bottom: 64px;
}

.time__heading {
  margin-top: 25px;
}

.time__date-webinar {
  margin-top: 15px;
}

.time__utp {
  font-size: 23px;
  color: #4a4a4a;
  margin-top: 10px;
  font-weight: normal;
}

.footer {
  height: 166px;
  background-color: #1a1a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4;
  color: #888;
}

.footer__link:first-child::after {
  content: '|';
  padding-left: 5px;
}
/*# sourceMappingURL=style.css.map */